@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #f5a222;
}
::-webkit-scrollbar-thumb:hover {
  background: #ce871b;
}

.relative.z-10 p {
  max-height: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f5a222 !important;
}